<div class="row marketing">
  <div class="" ng-controller="ProjectsCtrl">
    <div class="row" ng-controller="RunBuildJobCtrl">
      <table class="table-striped">
        <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in model.projects">
          <td>{{p.key.key}}</td>
          <td>{{p.name}}</td>
          <td>{{p.description}}</td>
          <td ><a href="#" ng-click="build(p); $event.stopPropagation();">Build</a></td>
        </tr>
        </tbody>
      </table>
      <div ng-show="isNoProjectItems()">No projects found</div>

      <!--<button ng-click="addDiagnostics()">Add</button>-->
      <button ng-click="getDiagnostics()">Diagnostics</button>
      <textarea ng-model="diagnostics"></textarea>

      <div ng-repeat="(key, keyCount) in buildKeys">
        <div ng-repeat="kc in keyCount">
          <h4>{{kc}}</h4>
          <div class="log-info" ng-repeat="line in buildLog[kc]">
            {{line}}<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
