<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <div class="" ng-controller="ProjectsCtrl">
    <div class="row">
      <table class="table-striped">
        <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in model.projects">
          <td>{{p.key}}</td>
          <td>{{p.name}}</td>
          <td>{{p.description}}</td>
        </tr>
        </tbody>
      </table>
      <div ng-show="isNoProjectItems()">No projects found</div>
    </div>
  </div>
</div>
