<div>
  <form id="buildJobForm" class="form-horizontal" role="form" novalidate>

    <div class="form-group" ng-class="model.editable ? 'required' : ''">
      <label for="key" class="control-label col-sm-3">Key</label>
      <div class="col-sm-9">
        <input id="key" class="form-control" ng-model="model.key" type="text" maxlength="10" ng-required="model.editable" ng-readonly="!model.editable">
        <div ng-class="model.editable ? 'has-error' : ''" ng-show="buildJobForm.key.$error.validationMessage">{{buildJobForm.key.$error.validationMessage}}<br></div>
      </div>
    </div>
    <div class="form-group required">
      <label for="name" class="control-label col-sm-3">Name</label>
      <div class="col-sm-9">
        <input id="name" class="form-control" ng-model="model.name" type="text" required>
        <div class="has-error" ng-show="buildJobForm.name.$error.validationMessage">{{buildJobForm.name.$error.validationMessage}}<br></div>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="control-label col-sm-3">Description</label>
      <div class="col-sm-9">
        <textarea id="description" class="form-control" ng-model="model.description" rows="5" cols="20"></textarea>
      </div>
    </div>
    <div class="form-group required">
      <label for="sourceUrl" class="control-label col-sm-3">Source URL</label>
      <div class="col-sm-9">
        <input id="sourceUrl" class="form-control" ng-model="model.sourceUrl" type="text" required>
        <div class="has-error" ng-show="buildJobForm.sourceUrl.$error.validationMessage">{{buildJobForm.sourceUrl.$error.validationMessage}}<br></div>
      </div>
    </div>
    <div class="form-group">
      <label for="buildFile" class="control-label col-sm-3">Build File</label>
      <div class="col-sm-9">
        <input id="buildFile" class="form-control" ng-model="model.buildFile" type="text" required>
      </div>
    </div>
    <div class="form-group required">
      <label for="buildCommand" class="control-label col-sm-3">Build Command</label>
      <div class="col-sm-9">
        <input id="buildCommand" class="form-control" ng-model="model.buildCommand" type="text" required>
        <div class="has-error" ng-show="buildJobForm.buildCommand.$error.validationMessage">{{buildJobForm.buildCommand.$error.validationMessage}}<br></div>
      </div>
    </div>
    <div class="form-group">
      <label for="environmentVars" class="control-label col-sm-3">Env Variables</label>
      <div class="col-sm-9">
        <textarea id="environmentVars" class="form-control" ng-model="model.environmentVars" rows="5" cols="20"></textarea>
      </div>
    </div>
    <div class="form-group required">
      <label for="identityKey" class="control-label col-sm-3">Identity Key</label>
      <div class="col-sm-9">
        <input id="identityKey" class="form-control" ng-model="model.identityKey" type="text" required>
        <div class="has-error" ng-show="buildJobForm.identityKey.$error.validationMessage">{{buildJobForm.identityKey.$error.validationMessage}}<br></div>
      </div>
    </div>
    <div class="form-group">
      <label for="passphrase" class="control-label col-sm-3">Passphrase</label>
      <div class="col-sm-9">
        <input id="passphrase" class="form-control" ng-model="model.passphrase" type="text">
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="col-sm-offset-2 col-sm-2 btn btn-lg btn-primary" ng-click="saveProjectForm()">Save</button>
      <button type="button" class="col-sm-2 btn btn-lg btn-default" ng-click="cancelProjectForm()">Cancel</button>
    </div>
    <div class="row"></div>
    <div class="alert alert-success" role="alert" ng-show="model.status.success">
      {{model.status.message}}
    </div>
  </form>
</div>
